.cart-card {
  background-color: transparent;
  width:"100%";
  
  
}



.freeDel-div{
    width:"100%";
    height:65px;
    background-color: grey;
    margin-top:5px;
}

.inside-cart{
    height: 100%;
    width:100%;
    display: inline-block;

}

.cart-body {
  width: 100%;
  height:210px;
  padding-bottom:10px;
  
}

#summary-container{
    background-color:black;
    padding-top:10px;
    margin-top:10px;
    width:70%;
    margin-left:15%;
    padding-bottom:30px;
    border-radius:10px 10px 10px 10px;
}
