.s_image {
    margin-right: 14px;
}
.search_bar {
    width: 200px;
    margin-right: 20px;
}

.back_home {
    background-color: rgb(196, 125, 34);
    
}

.coin_display {
    size: 12px;
   margin-right: 10px;
  margin-top: 2px;
    color: white;
    align-items: center;
    
    margin-left: 10px;
}
.after_search {
    display: flex;
}