.fixed-bg{
  display: fixed;
  background-color: #c7c8c9;
  height: 100%;
  width: 100%;
  background-size: contain;
}

.container-bg{
  background-color: white;
  border-radius: 10px;
}

.full-button{
  display:block;
  width: 100%;
}

.form-elem{
  margin-top: 10%;

}