.cardHover:hover{
    cursor: pointer;
    text-decoration: underline;
}

.smiley {
    display: flex;
    float: right;
}

#cardcss {
    background-color: transparent;
    border-radius:10px 10px 10px 10px;
}

#cardImg{
    height:300px;
    border-radius:10px 10px 10px 10px;
    border:"2px solid black";
    margin-bottom:5px;
}
