.sidebar {
    width: 100%;
    height: 100%;
    /* background-color: ; */
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 1;
    z-index: 200;
    animation: slide-open 0.5s forwards;
}

.mainsidebar{
    width: 350px;
    height:100%;
    top:0;
    float:right;
    background-color:rgba(47,64,80,0.8);
    opacity:1;
    
}

@keyframes slide-open {
    0% {left:350px;}
    100% { left:0;}
}

.sidebar.close {
    left: 0;
  animation: slide-closed 1s forwards;
}
@keyframes slide-closed {
    100% {right: 0;}
}

